<p><b><%= fortune.author %></b><br><%= fortune.body %></p>
<p><i>Tags:</i> <%= fortune.tag_list %></p>
<p class="links">
 <%= link_to "Pokaż", fortune_path(fortune) %> |
 <%= link_to "Edytuj", edit_fortune_path(fortune) %> |
 <%= link_to "Usuń", fortune_path(fortune), :confirm => t('helpers.data.sure'), :method => :delete %>
</p>
