<% title "Cytaty bardzo (nie)sławnych ludzi" %>

<%= form_tag fortunes_path, :method => :get, :id => "fortunes_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Szukaj", :name => nil %>
  </p>
<% end %>



<% if current_user %>
  Welcome <%= current_user.name %>!
  <%= link_to "Sign Out", signout_path %>
<% else %>
  <%= link_to "Sign in with Twitter", "/auth/twitter" %>
<% end %>





<% @fortunes.each do |fortune| %>
<article class="index">
<p style="border-style:dotted; border-color:black;">
  <div class="attribute">
    <span class="name">Cytat</span>
    <span class="value"><%= fortune.quotation %></span>
  </div>
    <div class="attribute">
    <span class="name">Źródło</span>
    <span class="value"><%= fortune.source %></span>
  </div>
    <div class="links">
    <%= link_to 'Pokaż', fortune %> |
    <%= link_to 'Edytuj', edit_fortune_path(fortune) %> |
    <%= link_to 'Usuń', fortune, confirm: 'Jesteś pewien?', method: :delete %>
  </div>
  </p>
</article>
<% end %>

<%= paginate @fortunes %>

<div class="link">
  <a href="<%= new_fortune_path %>"><input type="submit" value="New Fortune"></a>
  <!-- <%= link_to 'New Fortune', new_fortune_path %> -->
</div>
