<% title "Fortunki" %>

<%= form_tag fortunes_path, :method => :get, :remote => true, :id => "fortunes_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<div id="tag_cloud">
  <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
    <%= link_to tag.name, tags_fortunes_path(:name=>tag.name), :class => css_class %>
  <% end %>
</div>
<div id="user_nav">
<% if current_user %>
  Welcome <%= current_user.name %>!
  <%= link_to "Wyloguj", signout_path %>
<% else %>
  <%= link_to "Zaloguj się za pomocą Twittera", "/auth/twitter" %>
<% end %>



</div>
<div id="fortunes">
  <%= render :partial => 'fortune', :collection => @fortunes %>
</div>
<div id="nowa">

<p><%= link_to "Dodaj wiadomość", new_fortune_path %></p>
</div>



<div id="paginator">
  <%= paginate @fortunes, :remote => true %>
</div>
