<% title "Show fortune" %>

<p>
  <b>Author:</b>
  <%= @fortune.author %>
</p>

<p>
  <i>Body:</i>
  <%= @fortune.body %>
</p>

<p>
  <i>Tags:</i>
  <%= @fortune.tag_list %>
</p>

<p class="links"><%= link_to 'Edit', edit_fortune_path(@fortune) %> | <%= link_to 'Back', fortunes_path %></p>

<% if @fortune.comments.any? %>
  <h2>Comments</h2>
  <%= render :partial => 'comments/comment', :collection => @fortune.comments %>
<% end %>

<h2>Add new comment</h2>

<%= render :partial => 'comments/form' %>
