<p id="notice"><%= notice %></p>

<p>
  <b>Quotation:</b>
  <%= @tag.quotation %>
</p>

<p>
  <b>Source:</b>
  <%= @tag.source %>
</p>


<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
